<html>
    <head>
        <title>You've Been Phished</title>
    </head>
    <body>
        <div style="width: 800px; border: solid 3px black; margin-top: 25px; margin-bottom: 25px; position: relative; margin-right: auto; margin-left: auto; padding-top: 50px; padding-bottom: 50px;">
            
            <p style="text-align: center; position: relative; color: #E31F1F; margin-top: 50px; font-size: 75px;">YOU'VE BEEN PHISHED!</p>
            <div style="width: 750px; position: relative; margin-right: auto; margin-left: auto; margin-top: -50px;">
                <h3 style="text-align: center; position: relative;"><b>You are seeing this message because you have clicked a malicious link!</b></h3>
                <h3 style="position: relative;">The email you received is part of a phishing campaign . Follow the tips below to better identify phishing attacks, and help keep our business safe!</h3>
                <h2 style="color: black;">Tips for Identifying Phishing Emails:</h2>
                <ol>
                    <li><b>Tip 1</b></li>
                    <li><b>Tip 2</b></li>
                    <li><b>Tip 3</b></li>
                </ol>
                <h2 style="color: black;">Next Steps:</h2>
                <p>To ensure that we are doing our best to continually educate employees on the dangers of phishing and the threat that is poses to our company, you will be assigned additional training on how to spot phishing emails. Phishing testing will continue to be conducted in order to sharpen every employees skills in identifying phishing emails.</p>
            </div>
        </div>
    </body>
</html>